*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  background-color: #eff3ff;
}
